*~
*.dSYM
*src-i386/
*src-x86_64/
*.so
*.o
*.log
*.aux
*.dSYM/
*.vrb
*.bbl
*.blg
*.toc
*.synctex.gz
*.bak
*synth*.RData
Code/BLPackage-0.0-1.tgz
Code/BLPackage-0.0-2.tgz
Code/BLPackage-0.0-3.tgz
Code/BLPackage-0.0-4.tgz
.DS_Store
Code/C/Logit.h-12-01-23
Code/C/Logit.h-Joint-12-01-23
Code/C/Logit.hpp-12-02-27
Code/C/MultLogit.hpp-old
Code/C/test_logit
Code/C/test_pgpar
PDF/
Code/BLPackage/BayesLogit.Rcheck/
Code/BLPackage/BayesLogit.pdf
Code/BLPackage/BayesLogit/R/
Code/BLPackage/BayesLogit/src/
Code/BLPackage/BayesLogit_0.1-0.tar.gz
Code/BLPackage/BayesLogit_0.1-0.tgz
Code/BLPackage/Demo.R
Code/BLPackage/Test/
Code/BLPackage/temp.R
Code/C/X.dat
Code/C/n.dat
Code/C/par.txt
Code/C/ser.txt
Code/C/temp-3-29.RData
Code/C/y.dat
Code/R/.Rhistory
Code/R/BetaCompareData/
Code/R/DataSets/
Code/R/Rhist.txt
Code/R/TOC
Code/R/logit-MCMC.R-12-01-22
Code/BLPackage/.Rd2pdf53924/
Notes/BayesCompAbstract/
Notes/BayesCompPoster/
Notes/DynLogit.pdf
Notes/DynLogitPaper.pdf
Notes/Logit-PG-Paper/
Notes/_region_.tex
Notes/accept-reject.ograph
Notes/accept-reject.png
Notes/expected_iterations.ograph
Notes/expected_iterations.png
Notes/kitigawa.data
Notes/kitigawa.tab
Notes/literature-notes.pdf
Notes/notes.pdf
Notes/temp.pdf
compute_mixture.m
fludata/
Code/C/include/Matrix/*
Code/C/include/RNG/*
Code/C/IO/
Code/C/include/
Code/C/Old/
