# Tell R to load the shared object <BayesLogit.so>.
useDynLib("BayesLogit", .registration = TRUE)

# Define which functions people can see.
# export(logit.R, logit.EM.R, rpg.gamma, rpg.devroye, rpg.alt, rpg.sp, rpg)
export(rpg.gamma, rpg.devroye, rpg.sp, rpg,
       rpg.gamma.R, rpg.devroye.R)

# Useful for testing.
# logit.R, logit.EM.R, mlogit.R, rpg.gamma.R, rpg.devroye.R

importFrom("stats", "pgamma", "pnorm", "rexp", "rgamma", "rnorm",
             "runif", "sd")
